/1_Find_S_Algorithm.ipynb
/2_Candidate_Elimination.ipynb
/3_Decision_Tree_ID3.ipynb
/4_Backpropagation.ipynb
/5_KNN.ipynb
/6_Naive_Bayes.ipynb
/7_Logistic_Regression.ipynb
/8_Linear_Regression.ipynb
/9_Linear_Polynomial_Regression.ipynb
/10_Expectation_Maximization.ipynb
/11_Credit_Score_Classification.ipynb
/12_Iris_Flower_Classification.ipynb
/13_Car_Price_Prediction.ipynb
/14_Linear_House_price.ipynb
/15_Naive_Bayaes_iris.ipynb
/16_Compare_Classification_Algorithms.ipynb
/17_Mobile_Price_Prediction.ipynb
/18_Preceptron_Iris.ipynb
/19_Bank_Loan_Naive_Bayes.ipynb
/20_Future_Sales_Prediction.ipynb
/credit_score.csv
/playtennis.csv
/trainingdata.csv
/bank_loan.csv
/car_price.csv
/house_price.csv
/mobile_price.csv
/sales_data.csv
/*.csv
/*.ipynb