/1_Find_S_Algorithm.ipynb
/2_Candidate_Elimination.ipynb
/3_Decision_Tree_ID3.ipynb
/4_Backpropagation.ipynb
/5_KNN.ipynb
/6_Naive_Bayes.ipynb
/7_Logistic_Regression.ipynb
/8_Linear_Regression.ipynb
/9_Linear_Polynomial_Regression.ipynb
/10_Expectation_Maximization.ipynb
/11_Credit_Score_Classification.ipynb
/12_Iris_Flower_Classification.ipynb
/credit_score.csv
/playtennis.csv
/trainingdata.csv